.header {
    background-color: var(--inputs);
    padding-left: 64px;
    padding-right: 64px;
    margin-left: -64px;
    margin-right: -64px;
}

.nav {
    display: flex;
    gap: 450px;
}

.navLogo {
    align-self: center;
}

.navList {
    display: flex;
    gap: 32px;

}

.navItem {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.navItem:hover {
    color: var(--button-hover);
}